{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <legend class="border-bottom mb-4 text-center">Welcome Administrator!</legend>
  <p class="text-center">Hello, this application was originally created by Jarek Glodowski. Feel free to add me on <a href="https://www.linkedin.com/in/jglodowski/" target="_blank">LinkedIn</a>!</p>
  <p class="text-center">You can edit the home pages for <i>Students</i>, <i>Instructors</i> and <i>Administrators</i> by modifying <i>studentHome.html</i>, <i>instructorHome.html</i> and <i>adminHome.html</i> respectively.</p>
</div>
{% endblock content %}