{% extends "layout.html" %}
{% block content %}
  <h2>Your Summary</h2>

  <div>
    <form method="POST" action="" autocomplete="off">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend>Exercise Feedback</legend>
        <div>
          {{ form.feedback.label() }}:
          {{ form.feedback() }}
        </div>
      </fieldset>
      <div>
        {{ form.feedbackSubmit() }}
      </div>
    </form>
  </div>

  <table>
    <tr>
      <th>Guide Code</th>
      <th>Exercise Num.</th>
      <th>Action</th>
      <th>Time</th>
    </tr>
      {% for info in student_stats %}
      <tr>
        <td> {{ info.guide_code }} </td>
        <td> {{ info.exercise_number }} </td>
        <td> {{ info.action }} </td>
        <td> {{ info.time }} </td>
      </tr>
      {% endfor %}
  </table>
  <br><br>
  <table>
    <tr>
      <th>Guide Code</th>
      <th>Exercise Num.</th>
      <th>Feedback</th>
    </tr>
      {% for feedback in student_feedback %}
      <tr>
        <td> {{ feedback.guide_code }} </td>
        <td> {{ feedback.exercise_number }} </td>
        <td> {{ feedback.student_feedback }} </td>
      </tr>
      {% endfor %}
  </table>
{% endblock content %}