{% extends "layout.html" %}
{% block content %}
<div class="float-right"><strong>Last Updated:</strong> {{ updateTime.strftime("%d") }} {{ updateTime.strftime("%b") }} {{ updateTime.strftime("%Y") }} {{ updateTime.strftime("%H") }}:{{ updateTime.strftime("%M") }}:{{ updateTime.strftime("%S") }} (UTC)</div>
<br>
<div class="float-right"><strong>Auto Refresh:</strong> <input type="checkbox" onclick="toggleAutoRefresh(this);" id="reloadCB"> (10 Sec)</div>
<br>
<br>
<div class="content-section">
  <legend class="border-bottom mb-4">Students - Current Exercise</legend>
  <canvas id="myChart" width="300" height="150"></canvas>
</div>

<div class="content-section">
  <legend class="border-bottom mb-4">Students - Detailed Activity</legend>
  <table>
    <tr>
      <th>Student Name</th>
      <th>Exercise Number</th>
      <th>Timestamp</th>
      <th></th>
    </tr>
    {% for stat in latestStats %}
    <tr>
      <td>{{ latestStats[stat]['student_name'] }} [ <i>{{ latestStats[stat]['student_email'] }}</i> ]</td>
      <td>{{ latestStats[stat]['exercise_number'] }}/{{ numberOfExercisesInClass }}</td>
      <td>{{ latestStats[stat]['statistic_date'].strftime("%d") }} {{ latestStats[stat]['statistic_date'].strftime("%b") }} {{ latestStats[stat]['statistic_date'].strftime("%Y") }} {{ latestStats[stat]['statistic_date'].strftime("%H") }}:{{ latestStats[stat]['statistic_date'].strftime("%M") }}:{{ latestStats[stat]['statistic_date'].strftime("%S") }} (UTC)</td>
      <td class="text-center"><a class="btn btn-outline-primary" role="button" href="{{ url_for('instructorClassDashboardStudentActivity', class_id = class_id, student_email = latestStats[stat]['student_email']) }}">Student Activity</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'horizontalBar',

    // The data for our dataset
    data: {
      labels: {{ studentNames| tojson }},
      datasets: [{
        label: 'Current Exercise',
        data: {{ studentExerciseData }},
        backgroundColor: 'rgba(47, 137, 252, 0.5)',
        borderColor: 'rgba(47, 137, 252, 1)',
        borderWidth: 1
        }]
    },

    // Configuration options go here
    options: {
      scales: {
        xAxes: [{
          stacked: true,
          min: 0,
          ticks: {
            beginAtZero: true,
            stepSize: 1,
            suggestedMax: {{ numberOfExercisesInClass }}
          }
        }]
      }
    }
});
</script>

<script>
  // https://stackoverflow.com/questions/11405738/javascript-auto-refresh-toggle-checkbox/11405793
  var reloading;
  function checkReloading() {
      if (window.location.hash=="#autoreload") {
          reloading=setTimeout("window.location.reload();", 10000);
          document.getElementById("reloadCB").checked=true;
      }
  }
  function toggleAutoRefresh(cb) {
      if (cb.checked) {
          window.location.replace("#autoreload");
          reloading=setTimeout("window.location.reload();", 10000);
      } else {
          window.location.replace("#");
          clearTimeout(reloading);
      }
  }
  window.onload=checkReloading;
</script>

{% endblock content %}