{% extends "layout.html" %}
{% block content %}

<div class="content-section">
  <legend class="border-bottom mb-2 text-center"><span class="fa fa-users mr-3"></span>{{ theClass['guide_name'] }} [{{ theClass['start_date_local'].strftime("%d") }} {{ theClass['start_date_local'].strftime("%b") }} {{ theClass['start_date_local'].strftime("%Y") }} | {{ theClass['timezone'] }}]</legend>
</div>

<div class="content-section">
  <legend class="border-bottom mb-4">Instructor Dashboard</legend>
  <a class="btn btn-outline-primary btn-block col-md-6 offset-md-3" role="button" href="{{ url_for('instructorClassDashboard', class_id = theClass['_id']) }}">Instructor Dashboard</a>
</div>

<!-- Students Table -->
<div class="content-section">
  <legend class="border-bottom mb-4">Students</legend>
  <table>
    <tr>
      <th class="text-center">Student Email</th>
      <th></th>
    </tr>
    {% for email in theClass['student_emails'] %}
    <tr>
      <td class="text-center">{{ email }}</td>
      <td class="text-center"><a class="btn btn-outline-danger" role="button" href="{{ url_for('instructorClassRemoveStudent', class_id = theClass['_id'], student_email = email) }}">Remove Student</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="content-section">
  <legend class="border-bottom mb-4">Add Student</legend>
  <a class="btn btn-outline-success btn-block col-md-6 offset-md-3" role="button" href="{{ url_for('instructorClassAddStudent', class_id = theClass['_id']) }}">Add Student</a>
</div>

<div class="content-section">
  <legend class="border-bottom mb-4">Class Details</legend>
  <table>
    <tr>
      <td class="text-center"><strong>Class ID: </strong><i>{{ theClass['_id'] }}</i></td>
    </tr>
    <tr>
      <td class="text-center"><strong>Number Of Students: </strong><i>{{ theClass['student_emails']|length }}</i></td>
    </tr>
    <tr>
      <td class="text-center"></td>
    </tr>
    <tr>
      <td class="text-center"><strong>Guide: </strong>{{ theClass['guide_name'] }}</td>
    </tr>
    <tr>
      <td class="text-center"><strong>Instructor Email: </strong>{{ theClass['instructor_email'] }}</td>
    </tr>
    <tr>
      <td class="text-center"><strong>Start Date {{ theClass['timezone'] }}: </strong>{{ theClass['start_date_local'].strftime("%d") }} {{ theClass['start_date_local'].strftime("%b") }} {{ theClass['start_date_local'].strftime("%Y") }} {{ theClass['start_date_local'].strftime("%H") }}:{{ theClass['start_date_local'].strftime("%M") }} | <strong>UTC:</strong> {{ theClass['start_date'].strftime("%d") }} {{ theClass['start_date'].strftime("%b") }} {{ theClass['start_date'].strftime("%Y") }} {{ theClass['start_date'].strftime("%H") }}:{{ theClass['start_date'].strftime("%M") }}</td>
    </tr>
    <tr>
      <td class="text-center"><strong>Finish Date {{ theClass['timezone'] }}: </strong>{{ theClass['finish_date_local'].strftime("%d") }} {{ theClass['finish_date_local'].strftime("%b") }} {{ theClass['finish_date_local'].strftime("%Y") }} {{ theClass['finish_date_local'].strftime("%H") }}:{{ theClass['finish_date_local'].strftime("%M") }} | <strong>UTC:</strong> {{ theClass['finish_date'].strftime("%d") }} {{ theClass['finish_date'].strftime("%b") }} {{ theClass['finish_date'].strftime("%Y") }} {{ theClass['finish_date'].strftime("%H") }}:{{ theClass['finish_date'].strftime("%M") }}</td>
    </tr>
    <tr>
      <td class="text-center"><a class="btn btn-outline-primary btn-block col-md-6 offset-md-3" role="button" href="{{ url_for('instructorEditClass', class_id = theClass['_id']) }}">Edit Class Details</a></td>
    </tr>
  </table>
</div>

<div class="content-section">
  <legend class="border-bottom mb-4">Delete Class</legend>
  <a class="btn btn-outline-danger btn-block col-md-6 offset-md-3" role="button" href="{{ url_for('instructorDeleteClass', class_id = theClass['_id']) }}">Delete Class</a>
</div>

<!-- Class Info -->

{% endblock content %}