{% extends "layout.html" %}
{% block content %}
  <!-- Include stylesheet -->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <div class="content-section">
    <form method="POST" action="">
      <div class="form-group">
        <legend class="border-bottom mb-4 mt-4">{{ guideName }} ({{ guideCode }})</legend>
        <input name="guide" type="hidden">
        <div id="editor-container">

        </div>
      </div>
      <button class="btn btn-outline-primary" type="submit">Save Guide</button>
    </form>
  </div>

  <!-- Include the Quill library -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

  <!-- Initialize Quill editor -->
  <script>
    var Delta = Quill.import('delta');
    var quill = new Quill('#editor-container', {
      modules: {
        toolbar: [
          [{ 'font': ['sans sherif', 'monospace'] }],
          [{ 'header': [false, 1, 2, 3, 4, 5] }],
          ['bold', 'italic', 'underline', 'strike'],
          [{ 'list': 'bullet' }, { 'list': 'ordered'}, { 'indent': '-1'}, { 'indent': '+1' }],
          ['code-block', 'blockquote', { 'script': 'sub'}, { 'script': 'super' }],
          [{ 'color': [] }, { 'background': [] }, { 'align': [] }],
          ['clean']
        ]
      },
      placeholder: 'Compose a guide...',
      theme: 'snow'
    });
    quill.setContents({{ guideContent|safe }});

    var form = document.querySelector('form');
    form.onsubmit = function() {
      var about = document.querySelector('input[name=guide]');
      about.value = JSON.stringify(quill.getContents());

      form.submit()
    };
  </script>
{% endblock content %}