{% extends "layout.html" %}
{% block content %}

<div class="content-section">
  <legend class="border-bottom mb-4"><span class="fa fa-users mr-3"></span>Classes</legend>
  {% for theClass in listOfClasses %}
    <a class="btn btn-outline-dark btn-block col-md-6 offset-md-3" role="button" href="{{ url_for('studentGuideExercise', class_id = theClass['_id'], guide_name = theClass['guide_name'], exercise_number = 1) }}"><strong>{{ theClass['start_date_local'].strftime("%d") }} {{ theClass['start_date_local'].strftime("%b") }} {{ theClass['start_date_local'].strftime("%Y") }} | {{ theClass['timezone'] }}</strong><br>Guide: <strong>{{ theClass['guide_name'] }}</strong></a><br>
  {% endfor %}
</div>

<div class="content-section">
  <legend class="border-bottom mb-4"><span class="fa fa-clock-o mr-3"></span>Past Classes</legend>
  {% for theClass in listOfPastClasses %}
    <a class="btn btn-outline-dark btn-block col-md-6 offset-md-3" role="button" href="{{ url_for('studentGuideExercise', class_id = theClass['_id'], guide_name = theClass['guide_name'], exercise_number = 1) }}"><strong>{{ theClass['start_date_local'].strftime("%d") }} {{ theClass['start_date_local'].strftime("%b") }} {{ theClass['start_date_local'].strftime("%Y") }} | {{ theClass['timezone'] }}</strong><br>Guide: <strong>{{ theClass['guide_name'] }}</strong></a><br>
  {% endfor %}
</div>
{% endblock content %}