{% extends "layout.html" %}
{% block content %}
  <!-- Include stylesheet -->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <div class="content-section">
    <legend class="border-bottom mb-4 text-center"><span class="fa fa-book mr-3"></span>{{ guideName }} | Exercise {{exerciseNumber}}</legend>
    <div id="editor-container"></div>
  </div>

  {% if exerciseNumber == "1" and number_of_exercises == "1" %}
  {% elif exerciseNumber == "1" %}
  <a class="btn btn-outline-primary float-right" role="button" href="{{ url_for('studentGuide', guide_name = guideName, exercise_number = n_exercise_number) }}">Next Exercise</a>
  <br>
  {% elif exerciseNumber == number_of_exercises %}
  <a class="btn btn-outline-primary float-left" role="button" href="{{ url_for('studentGuide', guide_name = guideName, exercise_number = p_exercise_number) }}">Previous Exercise</a>
  {% else %}
  <a class="btn btn-outline-primary float-right" role="button" href="{{ url_for('studentGuide', guide_name = guideName, exercise_number = n_exercise_number) }}">Next Exercise</a>
  <a class="btn btn-outline-primary float-left" role="button" href="{{ url_for('studentGuide', guide_name = guideName, exercise_number = p_exercise_number) }}">Previous Exercise</a>
  {% endif %}

  <!-- Include the Quill library -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

  <!-- Initialize Quill editor -->
  <script>
    var Delta = Quill.import('delta');
    var quill = new Quill('#editor-container');
    quill.setContents({{ guideContent|safe }});
    quill.disable();

  </script>
{% endblock content %}